@use "../../style" as *;

$border-color: #d9d9d9;
$primary: #5b9fff;
$primary-shadow: #0591ff1a;
$error: #ff4d4f;
$error-shadow: #ff4d4f1a;
$warning: #faad14;
$warning-shadow: #faad141a;
$disabled-bg: #f5f5f5;
$disabled-color: #00000040;

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  @media (min-width: $bp-sm) {
    width: 100%;
  }
}

.input-label {
  font-size: 0.8rem;
  color: #333;
}

.input-required {
  color: $error;
  margin-left: 0.2rem;
}

.input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: $radius-lg;
  transition: border-color 0.2s, box-shadow 0.2s;
  background-color: #fff;
  border: 1px solid $border-color;
  &:hover:not(.input-wrapper--disabled) {
      border-color: $primary;
    }
 &:focus-within:not(.input-wrapper--disabled) {
      border-color: $primary;
      box-shadow: 0 0 0 2px $primary-shadow;
    }


  &--error {
    border-color: $error !important;
    &:focus-within {
      box-shadow: 0 0 0 2px $error-shadow !important;
    }
  }

  &--warning {
    border-color: $warning !important;
    &:focus-within {
      box-shadow: 0 0 0 2px $warning-shadow !important;
    }
  }

  &--disabled {
    background-color: $disabled-bg;
    cursor: not-allowed;
    border-color: $border-color;

    .input-field {
      cursor: not-allowed;
      color: $disabled-color;
    }
  }

  &--small {
    .input-field {
      padding: $sp-1 $sp-2;
      font-size: $font-xs;
    }
    .input-prefix {
      font-size: $font-xs;
    }
  }

  &--middle {
    .input-field {
      padding: $sp-1-5 $sp-3;
      font-size: $font-sm;
    }
    .input-prefix {
      font-size: $font-sm;
    }
  }

  &--large {
    .input-field {
      padding: $sp-2-5 $sp-4;
      font-size: $font-base;
    }
    .input-prefix{
      font-size: $font-base;
    }
  }
}

.input-field {
  flex: 1;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: #333;
  min-width: 0;

  &::placeholder {
    color: #bfbfbf;
  }
}

.input-prefix {
  display: flex;
  align-items: center;
  color: #00000073;
  flex-shrink: 0;
}

.input-prefix {
  padding-left: 0.8rem;
}