input {
    border-width: 0.07rem;
    border-style: solid;
    border-color: #d9d9d9;
    // border: 1x solid #d9d9d9;
    padding: 0.5rem 0.6rem 0.4rem 0.8rem;
    border-radius: 0.5rem;
}

input:focus {
    border-color: #5b9fff;
    box-shadow: 0 0 0 2px #0591ff1a;
    outline: 0;
    background-color: #ffffff;
}

input:hover {
    border-color: #5b9fff;
    background-color: #ffffff;

}