//padding, margin, gap
$size-small-padding: 0.2rem 0.5rem;
$size-middle-padding: 0.4rem 0.8rem;
$size-large-padding: 0.6rem 1rem;

$size-small-font: 0.75rem;
$size-middle-font: 0.875rem;
$size-large-font: 1rem;