@use "../../style" as *;

.table-head {
  font-size: $font-base;
  margin: $sp-0;
  border: $border-0 solid;
  background-color: #fafafa;
}

.table-row-head th:last-child {
  border-radius: $radius-none $radius-lg $radius-none $radius-none;

}

.table-row-head th:first-child {
  border-left: $border-1 solid #f0f0f0;
  border-radius: $radius-lg $radius-none $radius-none $radius-none;
}

.table-body {
  font-size: $font-sm;
  margin: $sp-0;
  border: $border-0 solid;
}

.table-cell {
  text-align: start;
  border-bottom: $border-1 solid #f0f0f0;
  overflow-wrap: break-word;
  padding: $sp-4 $sp-4;

  &-head {
    @extend .table-cell;
    border-right: $border-1 solid #f0f0f0;
  }
}